<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ numero | number }}</h1>
</div>

<button
  pButton
  (click)="mostrarNombre()"
  icon="pi pi-star"
  iconPos="right"
  label="Cambiar nombre"
  class="p-button-help"
></button>

<p-card [header]="nombre | titlecase" subheader="Esto es un subheaders">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
    reprehenderit cupiditate at consequatur perspiciatis odio aut qui atque,
    ducimus, facilis cum et vero! Fuga rem doloribus laudantium incidunt
    dignissimos a?
  </p>
</p-card> -->
<!-- inserto el componente menu -->
<app-menu></app-menu>

<router-outlet></router-outlet>
